.googleButton {
    background-image: url('path_to_google_image.png');
  }
  
  .facebookButton {
    background-image: url('path_to_facebook_image.png');
  }
  
  .microsoftButton {
    background-image: url('path_to_microsoft_image.png');
  }
  